---
import '../styles/global.css';

export interface Props {
    color: string;
    darkColor: string;
    style?: string;
}

const { color, darkColor , style} = Astro.props;
const coloredStyle = "rounded-3xl my-1 px-4 py-2 space-y-4 text-neutral-800 dark:text-neutral-300 " + color + " " + darkColor + " " + (style ?? "")

---

<div class={coloredStyle}>
    <slot/>
</div>