---
const today = new Date();
---

<hr class="mx-auto max-w-3xl">
<footer>
	&copy; {today.getFullYear()} CivWiki and specificlanguage |
	<a class="bg-grey-200" href="/privacy">Privacy Policy</a>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
